* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* @media screen and (max-width: 768px) {
  .Header{
    
    font-size: 10px;
  }
  .second{
    text-indent: -19px;
    justify-content: space-around;
  }
  .logo{
    width: 20%;
    vertical-align: middle;

  }
}  */